<nav class="navbar bg-dark fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'overview' %}">Neurodivergent Info</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'overview' %}">Overview</a>
          </li>

          <li class="nav-item">
            <a class="nav-link diasbled" href="#" aria-disabled="true">Link</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Custom articles
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'all_articles' %}">All Articles</a></li>

              {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'new_article' %}">New Article</a></li>
                <li><a class="dropdown-item" href="{% url 'new_category' %}">New Article Category</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'article_text' %}">Article Text File</a></li>
                <li><a class="dropdown-item" href="{% url 'article_pdf' %}">Article PDF File</a></li>
              {% endif %}

            </ul>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">

              {% if categories %}
                {% for category in categories %}
                  <li><a class="dropdown-item" href="{% url 'category' category|slugify %}">{{ category }}</a></li>
                {% endfor %}
              {% endif %}

            </ul>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Auth
            </a>
            <ul class="dropdown-menu">

              {% if user.is_authenticated %}
                <li>
                  <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item" style="border: none; background: none; cursor: pointer; width: 100%; text-align: left;">Logout</button>
                  </form>
                </li>
              {% else %}
                <li><a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a></li>
                <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
              {% endif %}
              
            </ul>
          </li>


        </ul>
        <form class="d-flex mt-3" role="search" method="POST" action="{% url 'search_article' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search Article" aria-label="Search" name="searched"/>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>