{% extends "main/base.html" %}


{% block title %}All Articles{% endblock %}

{% block content %}
  <h1>All articles</h1>

  <br><br>

  {% for article in articles %}
  
      <div class="card">
        <div class="card-header">
          By {{ article.author }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ article.title }}</h5>
          <p class="card-text">{{ article.content }}</p>
          <a href="{% url 'article_detail' article.id %}" class="btn btn-primary">Read More</a>
          <a href="{% url 'update_article' article.id %}" class="btn btn-primary">Update</a>
        </div>
      </div>

      <br/><br/>
  {% endfor %}

{% endblock %}